*{
    background-color: #e34405;
    font-family: fantasy;
    font-size: large;
    text-align: center;
    color: #0c9600;
}

h1{
    font-size: 100px;
}

ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}